@keyframes card-slide-in {
    from {
        transform: translateX(100vw);
        rotate: 20deg;
    }

    to {
        transform: translateX(0);
        rotate: 0;
    }
}

@keyframes card-slide-out {
    from {
        transform: translateX(0);
        rotate: 0;
    }

    to {
        transform: translateX(100vw);
        rotate: 20deg;
    }
}

@keyframes blank {}

::view-transition-old(card-forward) {
    animation: blank 300ms forwards;
}

::view-transition-new(card-backward) {
    animation: blank 300ms forwards;
}

::view-transition-new(card-forward) {
    animation: card-slide-in 300ms ease-out forwards;
    transform-origin: bottom right;
    z-index: 10;
}

::view-transition-old(card-backward) {
    animation: card-slide-out 300ms ease-in forwards;
    transform-origin: bottom right;
    z-index: 10;
}

::view-transition-old(progress-bar),
::view-transition-new(progress-bar) {
    z-index: 20;
}

.card-forward {
    view-transition-name: card-forward;
}

.card-backward {
    view-transition-name: card-backward;
}

