.entering-card {
    animation: entering-card 1s ease-in forwards;
    z-index: 10;
}

@keyframes entering-card {
    from {
        transform: translateY(-100vh);
    }

    to {
        transform: translateY(0);
    }
}

.exiting-card {
    animation: entering-card 1s ease-in forwards;
    z-index: 10;
}

@keyframes exiting-card {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-100vh);
    }
}
