@keyframes slide-in {
    from {
        transform: translateX(100vw);
        rotate: 20deg;
    }

    to {
        transform: translateX(0);
        rotate: 0;
    }
}

@keyframes none {}

::view-transition-old(card) {
    animation: none 300ms forwards;
}

::view-transition-new(card) {
    animation: slide-in 300ms ease-out forwards;
    transform-origin: bottom left 1rem;
    z-index: 10;
}

::view-transition-old(progress),
::view-transition-new(progress) {
    z-index: 20;
}

.card {
    view-transition-name: card;
}

.progress-bar {
    view-transition-name: progress;
}
